
{% extends 'BusConnect/navbars.html' %}

{% block content %}
<div class="container">
  <h2>{{ article.title }}</h2>
  <p>{{ article.content }}</p>
  <p><small class="text-muted">{{ article.created_at }}</small></p>
  <p><small class="text-bold">Author: {{ article.author}}</small></p>

  {% if request.user.is_superuser %}
  <div class="d-flex justify-content-between align-items-center">
    <a href="{% url 'edit_article' article.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete_article' article.id %}" class="btn btn-danger m-2">Delete</a>
  </div>
  {% endif %}
  <!-- Additional details or styling for the article -->
  <a href="{% url 'article_list' %}" class="btn btn-primary">Go Back</a>
</div>
{% endblock %}
